.container {
    width: 450px;
    overflow: auto;
    padding: 1em;
    margin: auto;
}

.cube {
    float: left;
    background: #FFF;
    text-align: center;
    line-height: 150px;
    width: 150px; height: 150px;
}

.cube:nth-of-type(2n) {
    background: #DDF;
}